@media (max-width: 1300.00px) {
    body {
        min-width: 1300.00px;
    }

    .min-network-col {
        min-width: 500.00px;
        min-height: 300.00px;
    }
}

@media only screen and (max-width: 768px) {
    .mobile-max-network-col {
        max-width: 100.00px;
        max-height: 50.00px;
    }

    .mobile-max-memory-col {
        max-width: 50.00px;
        max-height: 50.00px;
    }

    .mobile-max-cpu-col {
        max-width: 50.00px;
        max-height: 50.00px;
    }

    .mobile-max-disk-col {
        max-width: 50.00px;
        max-height: 50.00px;
    }
}

